
/* //////////////////////FONT: Press Start 2P ///////////////////////////////////
[https://fonts.google.com/specimen/Press+Start+2P?query=CodeMan38#styles] 
font-family: 'Press Start 2P', cursive;
*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {

    /* Colors */
    --normal: #212529;
    --primary: #209cee;
    --success: #92cc41;
    --warning: #f7d51d;
    --error: #e76e55;
    --disabled: #d3d3d3;
    --push: #A5A2A2;

    /* Fonts */
    --font: 'Press Start 2P', cursive;
    --1up: 0.5rem; /* 8px */
    --2up: 1rem; /* 16px */
    --3up: 1.5rem; /* 24px */
    --4up: 2rem; /* 32px */
    --5up: 2.5rem; /* 40px */
    --6up: 3rem; /* 48px */
    --7up: 3.5rem; /* 56px */
    --8up: 4rem; /* 48px */


    /* Margins */
    --margin__primary: 
    -4px 0 0 0 #209cee,
    4px 0 0 0 #209cee,
    0 -4px 0 0 #209cee,
    0 4px 0 0 #209cee;

    --margin__success: 
    -4px 0 0 0 #92cc41,
    4px 0 0 0 #92cc41,
    0 -4px 0 0 #92cc41,
    0 4px 0 0 #92cc41;

    --margin__error: 
    -4px 0 0 0 #e76e55,
    4px 0 0 0 #e76e55,
    0 -4px 0 0 #e76e55,
    0 4px 0 0 #e76e55;
    
    --margin__warning: 
    -4px 0 0 0 #f7d51d,
    4px 0 0 0 #f7d51d,
    0 -4px 0 0 #f7d51d,
    0 4px 0 0 #f7d51d;
    
    --margin__push: 
    -4px 0 0 0 #A5A2A2,
    4px 0 0 0 #A5A2A2,
    0 -4px 0 0 #A5A2A2,
    0 4px 0 0 #A5A2A2;

    --margin__normal: 
    -4px 0 0 0 #212529,
    4px 0 0 0 #212529,
    0 -4px 0 0 #212529,
    0 4px 0 0 #212529;

    --margin__disabled: 
    -4px 0 0 0 #d3d3d3,
    4px 0 0 0 #d3d3d3,
    0 -4px 0 0 #d3d3d3,
    0 4px 0 0 #d3d3d3;

    --margin__offer:
    0px 0px 16px 8px #f7d51d;

}



/* ////////////////////// GLOBALES /////////////////////////////////// */
/* REM16px */
html {
    font-size: 16px;
    color: var(--normal);
}

.normal {
    color: var(--normal);
}
.porimary {
    color: var(--primary)
}
.success {
    color: var(--success)
}
.warning {
    color: var(--warning)
}
.error {
    color: var(--error)
}
.disabled {
    color: var(--disabled)
}

body {
    font-family: var(--font);
    color: var(--normal);
    margin: 0;
}



/* ////////////////////// HEADER /////////////////////////////////// */
.header {
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

.header__link {
    color: var(--primary);
    font-size: var(--6up);
    color: var(--primary);
    text-decoration: none;
 }

 /* ////////////////////// NAV /////////////////////////////////// */
 .navigation {
    background-color: var(--push);
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 4rem;
    border: 2px ridge var(--push);
 }


 .navigation__link {
    font-size: var(--2up);
    text-decoration: none;
    color: var(--normal);
    padding: 1rem 1rem 0.8rem 0.8rem;
    background-color: var(--disabled);
    border: 4px outset var(--push);
 }

 .navigation__link:hover,
 .navigation__link--active {
    color: var(--error);
    border: 4px inset var(--disabled);
 }

/* ////////////////////// MAIN /////////////////////////////////// */

.main {

}

.title {
    font-size: var(--5up);
    text-align: center;
}

/* ////////////////////// FOOTER /////////////////////////////////// */
.footer {
    background-color: var(--push);
    padding: 1rem 0;
    margin-top: 2rem;
    text-align: center;
}

.footer__text {
    font-size: var(--2up);
    color: var(--disabled);
}

.footer__text--a {
    color: var(--warning);
}

/* ////////////////////// TIENDA /////////////////////////////////// */
.store__grid--background {
    background-color: var(--push);
    padding: 1rem 0rem;
}


.store__grid {
    display: grid;
    grid: 1fr / 1fr 1fr 1fr;
    width: 90%;
    margin: auto;
    gap: 2rem;
}



@media (max-width: 920px) {
    .store__grid {
        grid: 1fr / 1fr 1fr;
        gap: 1rem;
        width: 85%;
        }
}

@media (max-width: 480px) {
    .store__grid {
    grid: 1fr / 1fr;
    gap: 1rem;
    width: 90%;
    margin: auto;
    }
}

.store__grid__product {
    background-color: var(--disabled);
    padding: 1rem;
    box-shadow: var(--margin__primary);
    display: grid;
    place-items: center;
}


.store__grid__product:hover {
    filter: brightness(105%);
    transform: scale(101%);
}






.store__grid__product--link {
    text-decoration: none;
    color: inherit;
}

.store__grid__product--image {
    width: 100%;
    box-shadow: var(--margin__push);
    max-height: 25rem;
}
.store__grid__product__info{
    margin-top: 2rem;
}

.store__grid__product__info--title {
    width: auto;
    height: auto;
    margin: 1rem auto;
    font-size: var(--3up);
    color: var(--primary);
    filter: saturate(1);
}

.store__grid__product__info--description {

}

.store__grid__product__info--grid {
    display: grid;
    grid: 1fr / 1fr 1fr;
    gap: 1rem;
    margin: 0rem 1rem;
}

.store__grid__product__info--price {
    color: var(--success);
    font-size: var(--4up);
    margin: 0;
}


.store__grid__product__info--btn {
    box-shadow: var(--margin__push);
    border: 4px outset var(--warning);
    background-color: var(--warning);
    font-size: var(--2up);
    font-family: var(--font);
    padding: 0.5rem 0rem;
    color: var(--normal);
}

.store__grid__product__info--btn:hover {
    filter: brightness(110%);
}

/* ////////////////////// ERROR /////////////////////////////////// */

.store__grid__product--error {
    box-shadow: var(--margin__error);
    filter: brightness(95%);
}

.store__grid__product--error:hover {
    filter: brightness(85%);
}

.store__grid__product__info--title--error {
    color: var(--error);
    filter: saturate(2);
}

.store__grid__product__info--price--error {
    color: var(--error);
    text-decoration: line-through;
    font-size: var(--2up);
    margin: 0.5rem 0rem;
}

/* ////////////////////// OFFER /////////////////////////////////// */
.store__grid__product--offer {
    box-shadow: var(--margin__offer);
    grid-area: 2 / 1 / 2 / 3;
}

@media (max-width: 920px) {
    .store__grid__product--offer {
    grid-area: 2 / 1 / 3 / 3;
}
}
@media (max-width: 480px) {
    .store__grid__product--offer {
    grid-area: 2 / 1 / 3 / 2;
}
}

.store__grid__product--offer:hover {
    filter: brightness(110%);
}

.store__grid__product__info--title--offer {
    color: var(--warning);
    filter: brightness(70%) saturate(3);
}

.store__grid__product__info--price--offer {
    color: var(--warning);
    filter: brightness(70%) saturate(3);
}

.store__grid__product--offer--2 {
    grid-area: 4 / 2 / 5 / 4;
}

@media (max-width: 920px) {
    .store__grid__product--offer--2 {
        grid-area: 4 / 1 / 5 / 3;
    }
}

@media (max-width: 480px) {
    .store__grid__product--offer--2 {
        grid-area: 4 / 1 / 5 / 2;
    }
}

/* ////////////////////// RESOURCES /////////////////////////////////// */
/* BORDERS
width: 50%;
height: 50vh;
margin: 2em auto;
box-shadow:   -15px 0 0 0 black,
               15px 0 0 0 black,
               0 -15px 0 0 black,
               0 15px 0 0 black; */