Inspiration: 
https://nostalgic-css.github.io/NES.css/

Press Start 2p FONT:
https://fonts.google.com/specimen/Press+Start+2P?query=CodeMan38#styles

Michele Bucelli
https://opengameart.org/content/a-blocky-dungeon